* {
    box-sizing: border-box;
    /* transition: .3s; */
}

html {
    font-family: monospace;
}

body {
    margin: 0;
}

a {
    cursor: pointer;
}

canvas {
    border: solid black 1px;
    background-color: white;
}

button {
    border: none;
    font-size: 2em;
}

.input-container > *:not('.text-input') {
    border: none;
}