/* logo font */
/* @font-face {
    font-family: eurofurence;
    src: url('/fonts/eurofurence/eurof55.ttf');
} */

/* meme font */
@font-face {
    font-family: Impact;
    src: url('../../src/fonts/impact.ttf')
}

@font-face {
    font-family: Suez;
    src: url('../../src/fonts/SuezOne.ttf')
}

@font-face {
    font-family: Anton;
    src: url('../../src/fonts/Anton-Regular.ttf')
}

@font-face {
    font-family: Infinity;
    src: url('../../src/fonts/infinity-Black.otf') format('opentype');
}

/* logo font */
@font-face {
    font-family: Roseblue;
    src: url('../../src/fonts/Roseblue.ttf');
}

@font-face {
    font-family: Comica Boom;
    src: url('../../src/fonts/Comica\ Boom.otf') format('opentype');
}