/* :root {

    /* pallete 
    --clrShadow: #1e1e1e;
    --clrHeader: #292929;
    --clrTxtDark: #4f4e4e;
    --clrTxtLight: #c2c2c2;
    --clrTxt: #ebebeb;
    --clrTxtHover: #58c93a;

    /* bp 
    --l: 1060px;
    --m: 860px;
    --s: 600px;
} */